<div class="details row">
	<div class="poster-div column small-12 large-3">
		<img src="data/images/{{movie[0].imdbID}}.jpg" alt="{{movie[0].title}}">
	</div>
	<div class="column small-12 large-9">
		<div class="arrows">
			<a href="#/details/{{prevMovie[0].imdbID}}"><span class="fa fa-3x fa-angle-left left-arrow"></span></a>
			<a href="#/details/{{nextMovie[0].imdbID}}"><span class="fa fa-3x fa-angle-right right-arrow"></span></a>
		</div>
		<h2 class="movie">
			<span class="rank">{{movie[0].rank}}</span>
			{{movie[0].title}}
		</h2>
		<h4 class="movie row">
			<div class="small-pad-bottom column small-12 large-4"><span class="highlight">Metascore</span><span>{{movie[0].metascore}}</span></div>
			<div class="small-pad-bottom column small-12 large-4"><span class="highlight">IMDB Rating</span><span>{{movie[0].imdbRating}}</span></div>
			<div class="small-pad-bottom column small-12 large-4"><span class="highlight">Votes</span><span>{{movie[0].imdbVotes}}</span></div>
		</h4>
		<h5>
			<span class="rated">Rated {{movie[0].rated}}</span>&middot;
			<span class="released">{{movie[0].released}}</span>&middot;
			<span class="runtime">{{movie[0].runtime}}</span>&middot;
			<ul class="genre">
				<li ng-repeat="genre in movie[0].genre">
					{{genre}}
				</li>
			</ul>
		</h5>
		<p>{{movie[0].plot}}</p>
		<p class="italic">{{movie[0].awards}}</p>
		<div class="row">
			<div class="column small-4">
				<h5>Director</h5>
				<p class="no-gap" ng-repeat="director in movie[0].director">{{director}}</p>
			</div>
			<div class="column small-4">
				<h5>Actors</h5>
				<p class="no-gap" ng-repeat="actor in movie[0].actors">{{actor}}</p>
			</div>
			<div class="column small-4">
				<h5>Language</h5>
				<p class="no-gap" ng-repeat="language in movie[0].language">{{language}}</p>
				<h5>Country</h5>
				<p class="no-gap" ng-repeat="country in movie[0].country">{{country}}</p>
			</div>
		</div>
	</div>
</div>